
@{
    ViewBag.Title = "Index";
}

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <h3 class="text-center pt-5 pb-3 font-weight-bold text-danger">GIỎ HÀNG</h3>
                </div>
                <div class="pb-5">
                    <table class="table table-bordered cart-table">
                        <thead>
                            <tr class="btn-secondary text-center">
                                <td>Ảnh</td>
                                <td>Tên</td>
                                <td>Giá</td>
                                <td>Số Lượng</td>
                                <td>Tổng</td>
                                <td>Xóa</td>
                            </tr>
                        </thead>
                        <tbody id="list-cart">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="pay text-center font-weight-bold text-light">THÔNG TIN KHÁCH HÀNG</div>
                <form class="pt-3" id="pay-form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Họ và tên</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" id="pay-name" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Số điện thoại</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" id="pay-phone" name="phone">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <div class="pay text-center font-weight-bold text-light">HÌNH THỨC THANH TOÁN</div>
                <form class="pt-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                               value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            Thanh toán khi nhận thẻ
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                               value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Thanh toán trực tuyến qua Paypal
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6 bg-primary cart-action text-center font-weight-bold">
                        <a href="">TẢI FILE EXCEL</a>
                    </div>
                    <div class="col-6 bg-primary cart-action text-center font-weight-bold">
                        <a href="">IN BÁO GIÁ</a>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center cart-action bg-warning font-weight-bold col-12">
                        <a href="/products">CHỌN THÊM GÓI TẬP</a>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center text-white cart-action bg-danger font-weight-bold col-12" style="cursor: pointer" id="btn-pay">
                        GỬI ĐƠN HÀNG
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    @Scripts.Render("~/Scripts/cart.js")
}

